body {
  background-color: #121212 !important;
  padding: 0 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

input.form-control {
  font-weight: 600;
  color: black;
}

.todo-item {
  padding: 15px 30px;
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  border: 1px solid #333;
  border-radius: 7px;
}
